{layout "Layout.latte"}
{templateType App\ViewControllers\About}
{block content}
    <div id="main">
        <div class="navbar sticky-top bg-dark small user-select-none p-0" style="height: 40px; -webkit-app-region: drag">
            <div class="container-fluid px-2">
                <div class="navbar-brand">
                    <img src="/Resources/Images/icon16@1x.png" srcset="/Resources/Images/icon16@2x.png 2x, /Resources/Images/icon16@3x.png 3x" alt="{$title}" class="d-inline-block">
                    <small>{$title}</small>
                </div>
                <button class="btn icon p-0" onclick="window.close()">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-start">
                <div class="col-3">
                    <img src="/Resources/Images/icon64@1x.png" srcset="/Resources/Images/icon64@2x.png 2x, /Resources/Images/icon64@3x.png 3x" alt="{$title}">
                </div>
                <div class="col-9">
                    <div class="fs-3">{$bundleName} {$bundleShortVersion}</div>
                    <div>Build #{$bundleVersion}</div>
                    <small class="text-muted text-wrap-word">{$bundleHumanReadableCopyright}</small>
                </div>
            </div>
        </div>
    </div>
{/block}
