{layout "Layout.latte"}
{templateType App\Contexts\About}
{block content}
    <div id="main">
        <div class="navbar small">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <!--suppress CheckImageSize -->
                    <img src="/Resources/Images/icon.png" alt="{$bundleName}" width="16" height="16">
                    <small>{$bundleName}</small>
                </div>
                <button class="btn icon" onclick="window.close()">
                    <span class="material-symbols-outlined small">close</span>
                </button>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-start">
                <div class="col-3">
                    <!--suppress CheckImageSize -->
                    <img src="/Resources/Images/icon.png" alt="{$bundleName}" width="64" height="64">
                </div>
                <div class="col-9">
                    <div class="fs-3">{$bundleName} {$bundleShortVersion}</div>
                    <div>Build #{$bundleVersion}</div>
                    <small class="text-muted">{$bundleHumanReadableCopyright}</small>
                </div>
            </div>
        </div>
    </div>
{/block}