{templateType App\ViewControllers\EditorController}
{define accessControls}
    <div class="inspector-header">Access Control</div>
    <div class="ide-list-control">
        <div class="list-control-content">
            <table class="list-control-table">
                <thead>
                <tr>
                    <th class="col-accessControl-enabled">Enabled</th>
                    <th class="col-accessControl-name">Name</th>
                    <th class="col-accessControl-roles">Roles</th>
                    <th class="col-accessControl-scope">Scope</th>
                    <th class="col-flex"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$selectedProperty?->accessControls ?? [] as $accessControl" id="accessControl-{$accessControl->objectID|json}" data-href="/Editor?project={$project->objectID|json}&entity={$selectedEntity->objectID|json}&property={$selectedProperty->objectID|json}&accessControl={$accessControl->objectID|json}" n:class="$accessControl->isEqual($selectedAccessControl) ? active">
                    <td class="col-accessControl-enabled">
                        <form action="/AccessControl" method="POST" class="cell-form cell-form-checkbox">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$accessControl->objectID|json}">
                            <input class="form-check-input" type="checkbox" name="isEnabled" value="{$accessControl->isEnabled|json}" aria-label="Enabled" {$accessControl->isEnabled ? checked}>
                        </form>
                    </td>
                    <td class="col-accessControl-name">
                        <span class="cell-text accessControl-name-badge accessControl-type-{$accessControl->name}">#{$accessControl->name}</span>
                    </td>
                    <td class="col-accessControl-roles">
                        {if !$accessControl->roles->isEmpty}
                            <span class="roles-badge-list">
                                    <span n:foreach="$accessControl->roles as $role" class="role-badge-wrapper">
                                        <span class="role-badge" data-bs-toggle="popover" data-bs-html="true" data-bs-content="" data-bs-custom-class="role-popover" data-role="{$role->objectID|json}">
                                            {$role->name}
                                        </span>
                                        <button type="button"
                                                class="role-badge-delete"
                                                data-editor-action="removeSelection"
                                                data-item="{$role|json}"
                                                title="Remove role"
                                                aria-label="Remove {$role->name}">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    </span>
                                </span>
                        {else}
                            <span class="cell-text text-disabled">No roles</span>
                        {/if}
                    </td>
                    <td class="col-accessControl-scope">
                        <form action="/AccessControl" method="POST" class="cell-form">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$accessControl->objectID|json}">
                            <input type="hidden" name="scope" value="{$accessControl->scope->value}">
                            <select name="scope" aria-label="Scope" class="form-select transparent" data-editor-change="accessControlScope">
                                <option n:foreach="$scopes as $scope" value="{$scope->value}" {$accessControl->scope->value === $scope->value ? selected}>
                                    {$scope->name}
                                </option>
                            </select>
                        </form>
                    </td>
                    <td class="col-flex">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="list-control-toolbar">
            <div class="dropdown">
                <button class="btn btn-icon dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Add Access Control">
                    <i class="bi bi-plus-lg"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">Access Control</h6></li>
                    <li>
                        <button class="dropdown-item"
                                data-editor-action="addReadableAccessControl"
                                data-parent="{$selectedProperty|json}">
                            <span class="accessControl-name-badge accessControl-type-Readable">#Readable</span>
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item"
                                data-editor-action="addWritableAccessControl"
                                data-parent="{$selectedProperty|json}">
                            <span class="accessControl-name-badge accessControl-type-Writable">#Writable</span>
                        </button>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><h6 class="dropdown-header">Role</h6></li>
                    <li>
                        <button class="dropdown-item"
                                data-editor-action="addRole"
                                data-parent="{$selectedAccessControl|json}" {!$selectedAccessControl instanceof App\Model\AccessControl ? disabled}>
                            <span>Add Role</span>
                            {if $selectedAccessControl}
                                <span class="badge bg-secondary ms-2">{$selectedAccessControl->roles->count}</span>
                            {/if}
                        </button>
                    </li>
                </ul>
            </div>
            <button class="btn btn-icon"
                    title="Remove Access Control"
                    data-editor-action="removeSelection"
                    data-item="{$selectedAccessControl|json}" {!$selectedAccessControl instanceof App\Model\AccessControl ? disabled}>
                <i class="bi bi-dash-lg"></i>
            </button>
        </div>
    </div>
{/define}
