{templateType App\ViewControllers\EditorController}
{define annotations}
    <div class="ide-list-control">
        <div class="list-control-header">
            <span class="list-control-title">Annotations</span> <span class="annotation-hint">Access Control</span>
        </div>
        <div class="list-control-content">
            <table class="list-control-table">
                <thead>
                <tr>
                    <th class="col-annotation-enabled">Enabled</th>
                    <th class="col-annotation-name">Name</th>
                    <th class="col-annotation-scopes">Scopes</th>
                    <th class="col-flex"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$selectedProperty->annotations as $annotation" id="annotation-{$annotation->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&property={$selectedProperty->objectID->referenceObject}&annotation={$annotation->objectID->referenceObject}" n:class="$annotation->objectID->referenceObject === $selectedAnnotation?->objectID?->referenceObject ? active">
                    <td class="col-annotation-enabled">
                        <form action="/Annotation" method="POST" class="cell-form cell-form-checkbox">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$annotation->objectID->referenceObject}">
                            <input class="form-check-input" type="checkbox" name="isEnabled" value="{$annotation->isEnabled|json}" aria-label="Enabled" {$annotation->isEnabled ? checked}>
                        </form>
                    </td>
                    <td class="col-annotation-name">
                        <div class="cell-content">
                                <span class="cell-text annotation-name-badge annotation-type-{$annotation->name}">
                                    #{$annotation->name}
                                </span>
                        </div>
                    </td>
                    <td class="col-annotation-scopes">
                        <div class="cell-content">
                            {if $annotation->scopes->count > 0}
                                <span class="scopes-badge-list">
                                        <span n:foreach="$annotation->scopes as $scope" class="scope-badge">
                                            {$scope->name}
                                        </span>
                                    </span>
                            {else}
                                <span class="cell-text text-disabled">No scopes</span>
                            {/if}
                        </div>
                    </td>
                    <td class="col-flex"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="list-control-toolbar">
            <div class="dropup">
                <button class="btn btn-icon dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Add Annotation">
                    <i class="bi bi-plus-lg"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">Annotation Type</h6></li>
                    <li>
                        <button class="dropdown-item" onclick="add({App\Model\Annotation::entity()->name}, 'Owner', {$selectedProperty}, {$selectedProperty?->annotations?->count}, register)">
                            <span class="annotation-name-badge annotation-type-Owner">#Owner</span>
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" onclick="add({App\Model\Annotation::entity()->name}, 'Readable', {$selectedProperty}, {$selectedProperty?->annotations?->count}, register)">
                            <span class="annotation-name-badge annotation-type-Readable">#Readable</span>
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" onclick="add({App\Model\Annotation::entity()->name}, 'Writable', {$selectedProperty}, {$selectedProperty?->annotations?->count}, register)">
                            <span class="annotation-name-badge annotation-type-Writable">#Writable</span>
                        </button>
                    </li>
                </ul>
            </div>
            <button class="btn btn-icon" title="Remove Annotation" onclick="remove({$selectedAnnotation}, register)" {!$selectedAnnotation instanceof App\Model\Annotation ? disabled}>
                <i class="bi bi-dash-lg"></i>
            </button>
        </div>
    </div>
{/define}
