{templateType App\ViewControllers\Editor}
{varType Sabatier\Foundation\Set $attributes}
{define attributes, $attributes}
    <div class="table-responsive">
        <table class="table table-hover table-sm caption-top">
            <caption class="fw-bold text-shadow">Attributes</caption>
            <thead>
            <tr>
                <th scope="col" class="col-sm-2 text-shadow">Name</th>
                <th scope="col" class="col-sm-2 text-shadow">Type</th>
                <th scope="col" class="col-sm-8 text-shadow"></th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$attributes as $attribute" id="property-{$attribute->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&property={$attribute->objectID->referenceObject}" n:class="$attribute->objectID->referenceObject === $selectedProperty?->objectID?->referenceObject ? table-active">
                {var string $img = img($attribute)}
                <td class="text-truncate">
                    <img class="ps-2" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                    {$attribute->name}
                </td>
                <td>
                    <form action="/Attribute" method="POST">
                        <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                        <input type="hidden" name="objectID" value="{$attribute->objectID->referenceObject}">
                        {var array $types = [(object)["name" => "Undefined", "value" => 0], (object)["name" => "Integer 16", "value" => 100], (object)["name" => "Integer 32", "value" => 200], (object)["name" => "Integer 64", "value" => 300], (object)["name" => "Decimal", "value" => 400], (object)["name" => "Double", "value" => 500], (object)["name" => "Float", "value" => 600], ["name" => "String", "value" => 700], (object)["name" => "Boolean", "value" => 800], (object)["name" => "Date", "value" => 900], (object)["name" => "Binary Data", "value" => 1000], (object)["name" => "UUID", "value" => 1100], (object)["name" => "URI", "value" => 1200], (object)["name" => "Transformable", "value" => 1800]]}
                        <select name="type" id="type" class="form-select form-select-sm transparent border-0 py-0 w-auto" aria-label="Type" data-autosave="true">
                            <option n:foreach="$types as $type" value="{$type->value}" {$type->value === $attribute->type->value ? selected}>
                                {$type->name}
                            </option>
                            <option n:foreach="$compositeAttributes as $compositeAttribute" value="{$compositeAttribute->type->value}" {$compositeAttribute->type->value === $attribute->type->value ? selected}>
                                {$compositeAttribute->name}
                            </option>
                        </select>
                    </form>
                </td>
                <td></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <div class="d-inline-block">
                        <button class="btn icon p-0" onclick="add({App\Model\Attribute::entity()->name}, {App\Model\Attribute::entity()->name|firstLower}, {$selectedEntity}, register)">
                            <i class="bi bi-plus"></i>
                        </button>
                        <button class="btn icon p-0" onclick="remove({$selectedProperty}, register)" {!$selectedProperty instanceof App\Model\Attribute ? disabled}>
                            <i class="bi bi-dash"></i>
                        </button>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
{/define}
