{templateType App\ViewControllers\EditorController}
{define compositeTypeElements}
    <div class="ide-list-control">
        <div class="list-control-header">
            <span class="list-control-title">Attributes</span>
        </div>
        <div class="list-control-content">
            <table class="list-control-table">
                <thead>
                <tr>
                    <th class="col-name">Name</th>
                    <th class="col-type">Type</th>
                    <th class="col-flex"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$selectedCompositeType->elements as $element" id="property-{$element->objectID|json}" data-href="/Editor?project={$project->objectID|json}&composite={$selectedCompositeType->objectID|json}&property={$element->objectID|json}" n:class="$element->isEqual($selectedProperty) ? active">
                    <td class="col-name">
                        <div class="cell-content">
                            {var string $img = img($element)}
                            <img class="cell-icon" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                            <span class="cell-text">{$element->name}</span>
                        </div>
                    </td>
                    <td class="col-type">
                        <form action="/Attribute" method="POST" class="cell-form">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$element->objectID|json}">
                            <select name="type" aria-label="Type" class="form-select transparent" data-autosave="true">
                                <option n:foreach="$attributeTypes as $attributeType" value="{$attributeType->value}" {$attributeType->value === $element->type->value ? selected}>
                                    {$attributeType->name}
                                </option>
                            </select>
                        </form>
                    </td>
                    <td class="col-flex"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="list-control-toolbar">
            <button class="btn btn-icon"
                    title="Add Attribute"
                    data-editor-action="addAttribute"
                    data-parent="{$selectedCompositeType|json}"
                    data-position="{$selectedCompositeType->elements->count}">
                <span class="material-symbols-outlined">add</span>
            </button>
            <button class="btn btn-icon"
                    title="Remove Attribute"
                    data-editor-action="removeSelection"
                    data-item="{$selectedProperty|json}" {!$selectedProperty instanceof App\Model\Attribute ? disabled}>
                <span class="material-symbols-outlined">remove</span>
            </button>
        </div>
    </div>
{/define}
