{templateType App\ViewControllers\EditorController}
{define compositeType}
    <div class="px-3 pb-4">
        <form action="/CompositeType" method="POST">
            <input type="hidden" name="objectID" value="{$selectedCompositeType->objectID|json}">
            <div class="inspector-header">Composite Attribute</div>
            <div class="row mb-2">
                <label for="name" class="col-sm-4 inspector-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" name="name" id="name" placeholder="Attribute Name" class="form-control form-control-sm text-truncate fw-bold" value="{$selectedCompositeType->name}" autocomplete="off" spellcheck="false" required>
                </div>
            </div>
            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
            <input class="d-none" type="submit">
        </form>
    </div>
{/define}
