{templateType App\ViewControllers\EditorController}
{define compositeTypes}
    <div class="flex-column w-100">
        <div n:foreach="$project->model->compositeTypes as $compositeType" class="nav-item{$compositeType->objectID->referenceObject === $selectedCompositeType?->objectID?->referenceObject && !$selectedIndex ? ' active'} d-block text-truncate w-100" id="fetchRequest-{$compositeType->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&composite={$compositeType->objectID->referenceObject}">
            <span class="space"></span>
            <img src="/Resources/Images/C@1x.png" srcset="/Resources/Images/C@2x.png 2x, /Resources/Images/C@3x.png 3x" alt="">
            <span class="ps-2">{$compositeType->name}</span>
        </div>
    </div>
{/define}
