{templateType App\Contexts\Editor}
{define configurations}
    <div class="flex-column w-100">
        <div n:foreach="$configurations as $configuration" class="nav-item{$configuration->objectID->referenceObject === $selectedConfiguration?->objectID?->referenceObject && !$selectedIndex ? ' active'} text-truncate" id="fetchRequest-{$configuration->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&configuration={$configuration->objectID->referenceObject}">
            <span class="space"></span>
            <img src="/Resources/Images/C@1x.png" srcset="/Resources/Images/C@2x.png 2x, /Resources/Images/C@3x.png 3x" alt="">
            <span class="ps-2">{$configuration->name}</span>
        </div>
    </div>
{/define}
