{templateType App\ViewControllers\EditorController}
{define configurations}
    <div n:foreach="$project->model->configurations as $config"
            class="source-row{$config->objectID->referenceObject === $selectedConfiguration?->objectID?->referenceObject ? ' active'}"
            data-href="/Editor?project={$project?->objectID?->referenceObject}&configuration={$config->objectID->referenceObject}"
            style="--level: 0">

        <span style="width: 16px; display: inline-block;"></span>
        <i class="bi bi-gear-fill source-icon text-secondary" style="font-size: 12px; margin-top: 2px;"></i> <!-- Si no tienes icono de imagen -->
        <span class="source-label">{$config->name}</span>
    </div>
{/define}
