{templateType App\ViewControllers\EditorController}
{define configuration}
    <div class="px-3 pb-4">
        <form action="/Configuration" method="POST">
            <input type="hidden" name="objectID" value="{$selectedConfiguration->objectID->referenceObject}">
            <div class="inspector-header">Configuration</div>
            <div class="row mb-2">
                <label for="name" class="col-sm-4 inspector-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" name="name" id="name" placeholder="Configuration Name" class="form-control form-control-sm text-truncate fw-bold" value="{$selectedConfiguration->name}" autocomplete="off" spellcheck="false" required>
                </div>
            </div>
            <input type="hidden" name="X-Http-Method-Override" value="PATCH"> <input class="d-none" type="submit">
        </form>
    </div>
{/define}
