{templateType App\ViewControllers\EditorController}
{define content}
    {if $selectedIndex}
        {include fetchIndexElements from "FetchIndexElements.latte"}
    {elseif $selectedEntity}
        {include attributes from "Attributes.latte"}
        {include relationships from "Relationships.latte"}
        {include fetchedProperties from "FetchedProperties.latte"}
    {elseif $selectedCompositeType}
        {include compositeTypeElements from "CompositeTypeElements.latte"}
    {elseif $selectedFetchRequestTemplate}
        {include fetchRequestTemplatePredicate from "FetchRequestTemplatePredicate.latte"}
    {/if}
{/define}
