{templateType App\Contexts\Editor}
{define controls}
    <div class="d-inline-block">
        <div class="dropdown d-inline-flex">
            <button type="button" class="btn icon dropdown p-2" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined small">add</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item" type="button" onclick="add({App\Model\Entity::entity()->name}, undefined, {$project->model})">
                        Add Entity
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="button" onclick="add({App\Model\FetchRequestTemplate::entity()->name}, {App\Model\FetchRequestTemplate::entity()->name|firstLower}, {$project->model})">
                        Add Fetch Request
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" disabled>
                        Add Configuration
                    </button>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button class="dropdown-item" type="button" onclick="add({App\Model\Attribute::entity()->name}, {App\Model\Attribute::entity()->name|firstLower}, {$selectedEntity})" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
                        Add Attribute
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="button" onclick="add({App\Model\FetchedProperty::entity()->name}, {App\Model\FetchedProperty::entity()->name|firstLower}, {$selectedEntity})" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
                        Add Fetched Property
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" type="button" onclick="add({App\Model\Relationship::entity()->name}, {App\Model\Relationship::entity()->name|firstLower}, {$selectedEntity})" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
                        Add Relationship
                    </button>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button class="dropdown-item" type="button" onclick="add({App\Model\FetchIndex::entity()->name}, {App\Model\FetchIndex::entity()->name|firstLower}, {$selectedEntity})" {!$selectedEntity instanceof App\Model\Entity || $selectedEntity->attributes->isEmpty ? disabled}>
                        Add Fetch Index
                    </button>
                </li>
            </ul>
        </div>
        {if $selectedIndex}
            <button class="btn icon p-2" onclick="remove({$selectedIndex})">
                <span class="material-symbols-outlined small">remove</span>
            </button>
        {elseif $selectedEntity}
            <button class="btn icon p-2" onclick="remove({$selectedEntity})">
                <span class="material-symbols-outlined small">remove</span>
            </button>
        {elseif $selectedFetchRequestTemplate}
            <button class="btn icon p-2" onclick="remove({$selectedFetchRequestTemplate})">
                <span class="material-symbols-outlined small">remove</span>
            </button>
        {else}
            <button class="btn icon p-2" disabled>
                <span class="material-symbols-outlined small">remove</span>
            </button>
        {/if}
    </div>
{/define}
