{varType App\Model\Entity $selectedEntity}
{varType App\Model\FetchIndex $selectedIndex}
{varType App\Model\FetchRequestTemplate $selectedFetchRequestTemplate}
{define controls}
    <div class="d-inline-block">
        <div class="dropdown d-inline-flex">
            <button type="button" class="btn border-0 bg-transparent p-2 dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addEntity">
                        Add Entity
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addFetchRequest">
                        Add Fetch Request
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" disabled>
                        Add Configuration
                    </button>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addItem" data-bs-action-name="Attribute" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
                        Add Attribute
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addItem" data-bs-action-name="Fetched Property" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
                        Add Fetched Property
                    </button>
                </li>
                <li>
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addItem" data-bs-action-name="Relationship" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
                        Add Relationship
                    </button>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#addItem" data-bs-action-name="Fetch Index" {!$selectedEntity instanceof App\Model\Entity || $selectedEntity->attributes->isEmpty ? disabled}>
                        Add Fetch Index
                    </button>
                </li>
            </ul>
        </div>
        {if $selectedIndex}
            <button class="btn border-0 bg-transparent p-2" data-bs-action-name="Fetch Index" onclick="remove(this, {$selectedIndex})">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                </svg>
            </button>
        {elseif $selectedEntity}
            <button class="btn border-0 bg-transparent p-2" data-bs-action-name="Entity" onclick="remove(this, {$selectedEntity})">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                </svg>
            </button>
        {elseif $selectedFetchRequestTemplate}
            <button class="btn border-0 bg-transparent p-2" data-bs-action-name="Fetch Request Template" onclick="remove(this, {$selectedFetchRequestTemplate})">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                </svg>
            </button>
        {else}
            <button class="btn border-0 bg-transparent p-2" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                </svg>
            </button>
        {/if}
    </div>
{/define}
