{layout "Layout.latte"}
{templateType App\Contexts\Editor}
{block title}{$project?->name}{/block}
{block content}
    <div id="main">
        <div class="container-fluid d-flex flex-column">
            <div class="row flex-grow-1">
                <nav class="border-bottom border-black py-0" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'; height: 42px">
                    <ol class="breadcrumb mt-1 ms-2">
                        <li n:foreach="$breadcrumb as $item" class="breadcrumb-item">
                            {var string $img = img($item)}
                            {if $item instanceof App\Model\Project}
                                <div class="nav-item" data-href="/Editor?project={$item->objectID->referenceObject}">
                                    <img n:if="$img" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                                    <span class="ps-2">{$item->name}</span>
                                </div>
                            {elseif $item instanceof App\Model\Entity}
                                <div class="nav-item" data-href="/Editor?project={$project->objectID->referenceObject}&entity={$item->objectID->referenceObject}">
                                    <img n:if="$img" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                                    <span class="ps-2">{$item->name}</span>
                                </div>
                            {elseif $item instanceof App\Model\FetchRequestTemplate}
                                <div class="nav-item" data-href="/Editor?project={$project->objectID->referenceObject}&fetchRequest={$item->objectID->referenceObject}">
                                    <img n:if="$img" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                                    <span class="ps-2">{$item->name}</span>
                                </div>
                            {elseif $item instanceof App\Model\UniquenessConstraint}
                                <div class="nav-item" data-href="/Editor?project={$project->objectID->referenceObject}&constraint={$item->objectID->referenceObject}">
                                    <img n:if="$img" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                                    <span class="ps-2">{$item->stringValue}</span>
                                </div>
                            {elseif $item instanceof App\Model\Property}
                                <div class="nav-item" data-href="/Editor?project={$project->objectID->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&property={$item->objectID->referenceObject}">
                                    <img n:if="$img" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                                    <span class="ps-2">{$item->name}</span>
                                </div>
                            {elseif $item instanceof App\Model\FetchIndex}
                                <div class="nav-item" data-href="/Editor?project={$project->objectID->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&index={$item->objectID->referenceObject}">
                                    <img n:if="$img" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                                    <span class="ps-2">{$item->name}</span>
                                </div>
                            {elseif $item instanceof App\Model\FetchIndexElement}
                                <div class="nav-item" data-href="/Editor?project={$project->objectID->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&index={$selectedIndex->objectID->referenceObject}&element={$item->objectID->referenceObject}">
                                    <img n:if="$img" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                                    <span class="ps-2">{$item->propertyName}</span>
                                </div>
                            {/if}
                        </li>
                    </ol>
                </nav>
                <div id="source" class="scroll-view col-sm-3 overflow-auto border-end border-black" style="height: 100vh;">
                    {include sourceList from "SourceList.latte"}
                </div>
                <div id="content" class="scroll-view col-sm-6 overflow-auto" style="height: 100vh;">
                    {include content from "Content.latte"}
                </div>
                <div id="sidebar" class="scroll-view col-sm-3 overflow-auto border-start border-black" style="height: 100vh;">
                    {include inspector from "Inspector.latte"}
                </div>
            </div>
            <div class="row fixed-bottom border-top border-black" style="height: 40px;">
                <div class="col-sm-3">
                    {include controls from "Controls.latte"}
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-3 text-end">
                    {include actions from "Actions.latte"}
                </div>
            </div>
        </div>
    </div>
{/block}
