{templateType App\ViewControllers\EditorController}
{define menuActions}
    <li>
        <button class="dropdown-item" type="button" data-editor-action="showAboutPanel">
            <span class="material-symbols-outlined">info</span> <span>About</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2" type="button" data-editor-action="showHelp">
            <span class="material-symbols-outlined">help</span> <span>Singularity Help</span>
        </button>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2" data-editor-action="showPreferences">
            <span class="material-symbols-outlined">tune</span> <span>Preferences</span>
        </button>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><h6 class="dropdown-header">Add Element</h6></li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addEntity"
                data-parent="{$project->model|json}"
                data-position="{$project->model?->entities?->count}">
            <span class="material-symbols-outlined">add_circle</span> <span>Add Entity</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addCompositeType"
                data-parent="{$project->model|json}"
                data-position="{$project->model?->compositeTypes?->count}">
            <span class="material-symbols-outlined">account_tree</span> <span>Add Composite Type</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addFetchRequestTemplate"
                data-parent="{$project->model|json}"
                data-position="{$project->model?->fetchRequestTemplates?->count}">
            <span class="material-symbols-outlined">search</span> <span>Add Fetch Request</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addConfiguration"
                data-parent="{$project->model|json}"
                data-position="{$project->model?->configurations?->count}">
            <span class="material-symbols-outlined">settings</span> <span>Add Configuration</span>
        </button>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><h6 class="dropdown-header">Entity Properties</h6></li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addAttribute"
                data-parent="{$selectedEntity|json}"
                data-position="{$selectedEntity?->attributes?->count}" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
            <span class="material-symbols-outlined">label</span> <span>Add Attribute</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addFetchedProperty"
                data-parent="{$selectedEntity|json}"
                data-position="{$selectedEntity?->fetchedProperties?->count}" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
            <span class="material-symbols-outlined">move_to_inbox</span> <span>Add Fetched Property</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addRelationship"
                data-parent="{$selectedEntity|json}"
                data-position="{$selectedEntity?->relationships?->count}" {!$selectedEntity instanceof App\Model\Entity ? disabled}>
            <span class="material-symbols-outlined">compare_arrows</span> <span>Add Relationship</span>
        </button>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2"
                type="button"
                data-editor-action="addFetchIndex"
                data-parent="{$selectedEntity|json}"
                data-position="{$selectedEntity?->indexes?->count}" {!$selectedEntity instanceof App\Model\Entity || $selectedEntity->attributes->isEmpty ? disabled}>
            <span class="material-symbols-outlined">bolt</span> <span>Add Fetch Index</span>
        </button>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <button class="dropdown-item text-danger d-flex align-items-center gap-2"
                data-editor-action="removeSelection"
                data-item="{$selection|json}" {!$selection ? disabled}>
            <span class="material-symbols-outlined">delete</span> <span>Remove</span>
        </button>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><h6 class="dropdown-header">Project Actions</h6></li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2" data-editor-action="saveProject" data-project-id="{$project->objectID|json}">
            <span class="material-symbols-outlined">save</span> <span>Save</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2" data-editor-action="openSQLViewer" data-project-id="{$project->objectID|json}" {!$isSQLViewerEnabled ? disabled}>
            <span class="material-symbols-outlined">data_object</span> <span>Show SQL Schema...</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2" data-editor-action="createSubclass" data-project-id="{$project->objectID|json}">
            <span class="material-symbols-outlined">note_add</span> <span>Create ManagedObject Subclass...</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2" data-editor-action="extractLocalizables" data-project-id="{$project->objectID|json}">
            <span class="material-symbols-outlined">translate</span> <span>Extract Localizables...</span>
        </button>
    </li>
    <li>
        <button class="dropdown-item d-flex align-items-center gap-2" data-editor-action="importModel" data-project-id="{$project->objectID|json}" data-model-path="{$project->model?->url?->path}">
            <span class="material-symbols-outlined">upload</span> <span>Import...</span>
        </button>
    </li>
{/define}
