{templateType App\ViewControllers\Editor}
{define entities, $entities}
    <div class="ps-{$entities ? 2 : 0}">
        <div n:foreach="$entities ?? $rootEntities as $entity">
            <div class="nav-item{$entity->objectID->referenceObject === $selectedEntity?->objectID?->referenceObject && !$selectedIndex ? ' active'} d-block text-truncate w-100" id="entity-{$entity->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$entity->objectID->referenceObject}">
                <form action="/Entity" method="POST">
                    <span n:if="$entity->isLeaf" class="space"></span>
                    <button n:else class="btn btn-toggle ps-2" type="button" data-bs-toggle="collapse" data-bs-target="#{$entity->name}" aria-controls="{$entity->name}" aria-expanded="{$entity->isExpanded|json}"></button>
                    <img class="ps-1" src="/Resources/Images/E@1x.png" srcset="/Resources/Images/E@2x.png 2x, /Resources/Images/E@3x.png 3x" alt="entity">
                    <span class="px-1">{$entity->name}</span>
                    <input type="hidden" name="objectID" value="{$entity->objectID->referenceObject}">
                    <input type="hidden" name="name" value="{$entity->name}">
                    <input type="hidden" name="isExpanded" value="{$entity->isExpanded ? 'false' : 'true'}">
                    <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                </form>
            </div>
            <div n:if="$entity->indexesCount" class="ps-2">
                <div n:foreach="$entity->indexes as $index" class="nav-item{$index->objectID->referenceObject === $selectedIndex?->objectID?->referenceObject ? ' active'} d-block text-truncate w-100" id="index-{$index->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$entity->objectID->referenceObject}&index={$index->objectID->referenceObject}">
                    <span class="space"></span>
                    <img class="ps-1" src="/Resources/Images/I@1x.png" srcset="/Resources/Images/I@2x.png 2x, /Resources/Images/I@3x.png 3x" alt="index">
                    <span class="px-1">{$index->name}</span>
                </div>
            </div>
            <div n:if="!$entity->isLeaf" class="collapse {$entity->isExpanded ? show}" id="{$entity->name}">
                {include entities, $entity->subentities}
            </div>
        </div>
    </div>
{/define}
