{templateType App\ViewControllers\Editor}
{define entity}
    <div>
        <form action="/Entity" method="POST">
            <div class="my-3 fs-4 fw-bold text-secondary text-shadow">
                Entity
            </div>
            <input type="hidden" name="objectID" value="{$selectedEntity->objectID->referenceObject}">
            <div class="row mb-3 align-items-center">
                <label for="name" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Name</label>
                <div class="col-sm-9">
                    <input type="text" name="name" id="name" placeholder="Entity Name" class="form-control form-control-sm text-truncate" value="{$selectedEntity->name}" autocomplete="off" spellcheck="false" required>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="form-check form-check-inline form-control-sm">
                        <label class="form-check-label" for="isAbstract">Abstract Entity</label>
                        <input class="form-check-input" type="checkbox" name="isAbstract" id="isAbstract" value="{$selectedEntity->isAbstract}" {$selectedEntity->isAbstract ? checked}>
                    </div>
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="superentityID" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Parent Entity</label>
                <div class="col-sm-9">
                    <select name="superentityID" id="superentityID" class="form-select form-select-sm" data-autosave="true">
                        <option value="">No Parent Entity</option>
                        <!--suppress HtmlUnknownTag -->
                        <hr>
                        <option n:foreach="$project->model->entities as $entity" value="{$entity->objectID->referenceObject}" {$entity->name === $selectedEntity->superentity?->name ? selected} {$entity->objectID->referenceObject == $selectedEntity->objectID->referenceObject ? disabled}>{$entity->name}</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="mb-3 fs-5">
                Class
            </div>
            <div class="row mb-3 align-items-center">
                <label for="managedObjectClassName" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Name</label>
                <div class="col-sm-9">
                    <input type="text" name="managedObjectClassName" id="managedObjectClassName" placeholder="Entity Name" class="form-control form-control-sm text-truncate" value="{$selectedEntity->managedObjectClassName}" autocomplete="off" spellcheck="false">
                </div>
            </div>
            <div class="row mb-3 align-items-start">
                <label class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Constraints</label>
                <div class="col-sm-9">
                    <table class="table table-bordered table-sm" id="uniquenessConstraints">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                        <tbody>
                        <tr n:foreach="$selectedEntity->uniquenessConstraints as $uniquenessConstraint" id="constraint-{$uniquenessConstraint->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&constraint={$uniquenessConstraint->objectID->referenceObject}" n:class="$uniquenessConstraint->objectID->referenceObject === $selectedUniquenessConstraint?->objectID?->referenceObject ? table-active">
                            <td>{$uniquenessConstraint->stringValue}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <div class="d-inline-block">
                                    <button type="button" class="btn icon p-0" data-bs-toggle="modal" data-bs-target="#addUniquenessConstraint" data-bs-action-name="Uniqueness Constraint">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                    <button type="button" class="btn icon p-0" onclick="remove({$selectedUniquenessConstraint}, register)" {!$selectedUniquenessConstraint instanceof App\Model\UniquenessConstraint ? disabled}>
                                        <i class="bi bi-dash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <hr>
            <div class="mb-3 fs-5">
                Versioning
            </div>
            <div class="row mb-3 align-items-center">
                <label for="versionHashModifier" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Hash Modifier</label>
                <div class="col-sm-9">
                    <input type="text" name="versionHashModifier" id="versionHashModifier" placeholder="Version Hash Modifier" class="form-control form-control-sm text-truncate" value="{$selectedEntity->versionHashModifier}" autocomplete="off" spellcheck="false">
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="renamingIdentifier" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Renaming ID</label>
                <div class="col-sm-9">
                    <input type="text" name="renamingIdentifier" id="renamingIdentifier" placeholder="Renaming Identifier" class="form-control form-control-sm text-truncate" value="{$selectedEntity->renamingIdentifier}" autocomplete="off" spellcheck="false">
                </div>
            </div>
            <input type="hidden" name="X-Http-Method-Override" value="PATCH"> <input class="d-none" type="submit">
        </form>
        <div class="modal fade" id="addUniquenessConstraint" tabindex="-1" aria-labelledby="addUniquenessConstraintLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="addUniquenessConstraint" action="/UniquenessConstraint" method="POST">
                        <div class="modal-body">
                            <div class="mb-3">
                                <h5 class="modal-title" id="addUniquenessConstraintLabel">Add Constraint</h5>
                            </div>
                            <div class="mb-3">
                                <label for="stringValue" class="form-label">Attribute</label>
                                <select name="stringValue" id="stringValue" class="form-select form-select-sm" {$selectedEntity->attributes->isEmpty ? disabled} required>
                                    {var $attributeNames = $selectedEntity->allAttributeNames->dropLast(1)}
                                    <option n:foreach="$attributeNames as $attributeName" value="{$attributeName}" {$selectedEntity->uniquenessConstraints->contains(fn(App\Model\UniquenessConstraint $uniquenessConstraint): bool => $uniquenessConstraint->stringValue === $attributeName) ? disabled}>
                                        {$attributeName}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="entityPropertyID" value="{$selectedEntity?->objectID?->referenceObject}">
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" {$selectedEntity->attributes->isEmpty ? disabled}>Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{/define}
