{templateType App\Contexts\Editor}
{define entities, $entities}
    <ul class="{$entities ? 'flex-column w-100 px-2' : 'flex-column w-100'}">
        {foreach $entities ?? $rootEntities as $entity}
            <li class="text-truncate{$entity->objectID->referenceObject === $selectedEntity?->objectID?->referenceObject && !$selectedIndex ? ' selected'}">
                {if !$entity->subentitiesCount}
                    <span class="space"></span>
                {else}
                    <button class="btn btn-toggle bg-transparent ps-2" type="button" data-bs-toggle="collapse" data-bs-target="#{$entity->name}" aria-controls="{$entity->name}" aria-expanded="true">
                    </button>
                {/if}

                <img class="icon" src="/Resources/Images/E@1x.png" srcset="/Resources/Images/E@2x.png 2x, /Resources/Images/E@3x.png 3x" alt="">

                <span id="entity-{$entity->objectID->referenceObject}" class="nav-toggle{$selectedIndex === null && $entity->objectID->referenceObject === $selectedEntity?->objectID?->referenceObject ? ' active'}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$entity->objectID->referenceObject}">
                        {$entity->name}
                </span>
                {if $entity->indexesCount}
                    <ul class="flex-column w-100">
                        {foreach $entity->indexes as $index}
                            <li class="text-truncate{$index->objectID->referenceObject === $selectedIndex?->objectID?->referenceObject ? ' selected'}">
                                <span class="space"></span>
                                <img class="icon" src="/Resources/Images/I@1x.png" srcset="/Resources/Images/I@2x.png 2x, /Resources/Images/I@3x.png 3x" alt="">
                                <span id="index-{$index->objectID->referenceObject}" class="nav-toggle{$index->objectID->referenceObject === $selectedIndex?->objectID?->referenceObject ? ' active'}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$entity->objectID->referenceObject}&index={$index->objectID->referenceObject}">
                                    {$index->name}
                                </span>
                            </li>
                        {/foreach}
                    </ul>
                {/if}
                {if $entity->subentitiesCount}
                    <div class="collapse show" id="{$entity->name}">
                        {include entities, $entity->subentities}
                    </div>
                {/if}
            </li>
        {/foreach}
    </ul>
{/define}
