{varType App\Model\Entity $selectedEntity}
{varType App\Model\FetchIndexElement $selectedIndexElement}
{define fetchIndexElement}
    <form action="/FetchIndexElement" method="POST">
        <div class="my-3 fs-4 fw-bold text-secondary text-shadow">
            Fetch Index Element
        </div>
        <input type="hidden" name="objectID" value="{$selectedIndexElement->objectID->referenceObject}">
        <div class="row mb-3 align-items-center">
            <label for="propertyName" class="col-sm-3 col-form-label text-end pe-0">Property</label>
            <div class="col-sm-9">
                <select name="propertyName" id="propertyName" class="form-select" data-autosave="true" required>
                    <option n:foreach="$selectedEntity->allAttributeNames as $attributeName" value="{$attributeName}" {$attributeName === $selectedIndexElement->propertyName ? selected}>{$attributeName}</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="form-check-label" for="isAscending">Ascending</label>
                    <input class="form-check-input" type="checkbox" name="isAscending" value="{$selectedIndexElement->isAscending}" id="isAscending" {$selectedIndexElement->isAscending ? checked}>
                </div>
            </div>
        </div>
        <hr>
        <div class="mb-3 fs-5">
            Expression
        </div>
        <div class="row mt-3 mb-3 align-items-center">
            {var array $types = [0 => "Undefined", 100 => "Integer 16", 200 => "Integer 32", 300 => "Integer 64", 400 => "Decimal", 500 => "Double", 600 => "Float", 700 => "String", 800 => "Boolean", 900 => "Date", 1000 => "Binary Data", 1100 => "UUID", 1200 => "URI", 1800 => "Transformable"]}
            <label for="type" class="col-sm-3 col-form-label text-end pe-0">Type</label>
            <div class="col-sm-9">
                <select name="expression.type" class="form-select" data-autosave="true" {$selectedIndexElement->propertyName !== "Expression" ? disabled}>
                    <option n:foreach="$types as $key => $value" value="{$key}" {$key === $selectedIndexElement->expression?->resultType?->value ? selected}>
                        {$value}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <input type="text" name="expression.expressionFormat" placeholder="Expression" class="form-control text-truncate" value="{$selectedIndexElement->expression?->expressionFormat}" aria-label="expression.expressionFormat" autocomplete="off" spellcheck="false" required {$selectedIndexElement->propertyName !== "Expression" ? disabled}>
            </div>
        </div>
        <input type="hidden" name="X-Http-Method-Override" value="PATCH">
        <input class="d-none" type="submit">
    </form>
{/define}
