{templateType App\ViewControllers\EditorController}
{define fetchedProperties}
    <div class="ide-list-control">
        <!-- Header -->
        <div class="list-control-header">
            <span class="list-control-title">Fetched Properties</span>
        </div>

        <!-- Table -->
        <div class="list-control-content">
            <table class="list-control-table" data-project="{$project->objectID|json}" data-entity="{$selectedEntity->name}" data-key="fetchedProperties">
                <thead>
                <tr>
                    <th class="col-name">Name</th>
                    <th class="col-predicate">Predicate</th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$selectedEntity->fetchedProperties as $fetchedProperty"
                        id="property-{$fetchedProperty->objectID|json}"
                        data-href="/Editor?project={$project->objectID|json}&entity={$selectedEntity->objectID|json}&property={$fetchedProperty->objectID|json}"
                        n:class="$fetchedProperty->isEqual($selectedProperty) ? active">

                    <!-- Name Column -->
                    <td class="col-name">
                        <div class="cell-content">
                            {var string $img = img($fetchedProperty)}
                            <img class="cell-icon" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                            <span class="cell-text">{$fetchedProperty->name}</span>
                        </div>
                    </td>

                    <!-- Predicate Column -->
                    <td class="col-predicate">
                        <div class="cell-content cell-code">
                            <span class="cell-text">{$fetchedProperty->fetchRequestPredicateFormat}</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Toolbar -->
        <div class="list-control-toolbar">
            <button class="btn btn-icon"
                    title="Add Fetched Property"
                    data-editor-action="addFetchedProperty"
                    data-parent="{$selectedEntity|json}"
                    data-position="{$selectedEntity->fetchedProperties->count}">
                <span class="material-symbols-outlined">add</span>
            </button>
            <button class="btn btn-icon"
                    title="Remove Fetched Property"
                    data-editor-action="removeSelection"
                    data-item="{$selectedProperty|json}"
                    {!$selectedProperty instanceof App\Model\FetchedProperty ? disabled}>
                <span class="material-symbols-outlined">remove</span>
            </button>
        </div>
    </div>
{/define}
