{templateType App\ViewControllers\EditorController}
{varType App\Model\FetchedProperty $selectedProperty}
{define fetchedProperty}
    <form action="/FetchedProperty" method="POST">
        <div class="my-3 fs-4 fw-bold text-secondary text-shadow">
            Fetch Property
        </div>
        <input type="hidden" name="objectID" value="{$selectedProperty->objectID->referenceObject}">
        <div class="row mb-3 align-items-center">
            <label for="name" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Name</label>
            <div class="col-sm-9">
                <input type="text" name="name" id="name" placeholder="Fetch Property Name" class="form-control form-control-sm text-truncate" value="{$selectedProperty->name}" autocomplete="off" spellcheck="false" required>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="fetchRequestEntityName" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Destination</label>
            <div class="col-sm-9">
                <select name="fetchRequestEntityName" id="fetchRequestEntityName" class="form-select form-select-sm" data-autosave="true">
                    <option value="">No Destination Entity</option>
                    <option n:foreach="$project->model->entities as $entity" value="{$entity->name}" {$entity->name === $selectedProperty->fetchRequestEntityName ? selected}>{$entity->name}</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="fetchRequestPredicateFormat" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Predicate</label>
            <div class="col-sm-9">
                <input type="text" name="fetchRequestPredicateFormat" id="fetchRequestPredicateFormat" placeholder="Predicate" class="form-control form-control-sm text-truncate" value="{$selectedProperty->fetchRequestPredicateFormat}" autocomplete="off" spellcheck="false" required>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="fetchRequestSortDescriptorKey" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Sort By</label>
            <div class="col-sm-9">
                <select name="fetchRequestSortDescriptorKey" id="fetchRequestSortDescriptorKey" class="form-select form-select-sm" data-autosave="true" required>
                    <option n:foreach="$selectedProperty->entity->attributesByName as $attribute" value="{$attribute->name}" {$attribute->name === $selectedProperty->fetchRequestSortDescriptorKey ? selected}>{$attribute->name}</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="form-check form-check-inline form-control-sm">
                    <label class="form-check-label" for="fetchRequestSortDescriptorIsAscending">Ascending</label>
                    <input class="form-check-input" type="checkbox" name="fetchRequestSortDescriptorIsAscending" value="{$selectedProperty->fetchRequestSortDescriptorIsAscending|json}" id="fetchRequestSortDescriptorIsAscending" {$selectedProperty->fetchRequestSortDescriptorIsAscending ? checked}>
                </div>
            </div>
        </div>
        <input type="hidden" name="X-Http-Method-Override" value="PATCH">
        <input class="d-none" type="submit">
    </form>
{/define}
