{templateType App\Contexts\Editor}
{define fetchRequestTemplate}
    <form action="/FetchRequestTemplate" method="POST">
        <div class="my-3 fs-4 fw-bold text-secondary text-shadow">
            Fetch Request
        </div>
        <input type="hidden" name="objectID" value="{$selectedFetchRequestTemplate->objectID->referenceObject}">
        <div class="row mb-3 align-items-center">
            <label for="name" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Name</label>
            <div class="col-sm-9">
                <input type="text" name="name" id="name" placeholder="Fetch Index Name" class="form-control form-control-sm text-truncate" value="{$selectedFetchRequestTemplate->name}" autocomplete="off" spellcheck="false" required>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="entityName" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Entity</label>
            <div class="col-sm-9">
                <select name="entityName" id="entityName" class="form-select form-select-sm" data-autosave="true">
                    <option n:foreach="$allEntities as $entity" value="{$entity->name}" {$entity->name === $selectedFetchRequestTemplate->fetchEntityName ? selected}>
                        {$entity->name}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            {var array $items = [0 => "Objects", 1 => "Object IDs", 2 => "Dictionaries"]}
            <label for="resultType" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Type</label>
            <div class="col-sm-9">
                <select name="resultType" id="resultType" class="form-select form-select-sm" data-autosave="true">
                    <option n:foreach="$items as $key => $value" value="{$key}" {$key === $selectedFetchRequestTemplate->fetchResultType ? selected}>
                        {$value}
                    </option>
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="fetchLimit" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Fetch Limit</label>
            <div class="col-sm-9">
                <input type="number" name="fetchLimit" id="fetchLimit" placeholder="Fetch Limit" class="form-control form-control-sm" value="{$selectedFetchRequestTemplate->fetchLimit}" autocomplete="off" spellcheck="false" required>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="fetchBatchSize" class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Batch Size</label>
            <div class="col-sm-9">
                <input type="number" name="fetchBatchSize" id="fetchBatchSize" placeholder="Batch Size" class="form-control form-control-sm" value="{$selectedFetchRequestTemplate->fetchBatchSize}" autocomplete="off" spellcheck="false" required>
            </div>
        </div>
        <hr>
        <div class="row mb-3 align-items-baseline">
            <label class="col-sm-3 col-form-label col-form-label-sm text-end pe-0">Advanced</label>
            <div class="col-sm-9">
                <div class="form-check form-check-inline form-control-sm">
                    <label class="form-check-label" for="includesSubentities">Include Subentities</label>
                    <input class="form-check-input" type="checkbox" name="includesSubentities" value="{$selectedFetchRequestTemplate->includesSubentities}" id="includesSubentities" {$selectedFetchRequestTemplate->includesSubentities ? checked}>
                </div>
                <div class="form-check form-check-inline form-control-sm">
                    <label class="form-check-label" for="includesPropertyValues">Include Property Values</label>
                    <input class="form-check-input" type="checkbox" name="includesPropertyValues" value="{$selectedFetchRequestTemplate->includesPropertyValues}" id="includesPropertyValues" {$selectedFetchRequestTemplate->includesPropertyValues ? checked}>
                </div>
                <div class="form-check form-check-inline form-control-sm">
                    <label class="form-check-label" for="returnsObjectsAsFaults">Return Objects as Faults</label>
                    <input class="form-check-input" type="checkbox" name="returnsObjectsAsFaults" value="{$selectedFetchRequestTemplate->returnsObjectsAsFaults}" id="returnsObjectsAsFaults" {$selectedFetchRequestTemplate->returnsObjectsAsFaults ? checked}>
                </div>
                <div class="form-check form-check-inline form-control-sm">
                    <label class="form-check-label" for="includesPendingChanges">Include Pending Changes</label>
                    <input class="form-check-input" type="checkbox" name="includesPendingChanges" value="{$selectedFetchRequestTemplate->includesPendingChanges}" id="includesPendingChanges" {$selectedFetchRequestTemplate->includesPendingChanges ? checked}>
                </div>
                <div class="form-check form-check-inline form-control-sm mb-3">
                    <label class="form-check-label" for="returnsDistinctResults">Return Distinct Results</label>
                    <input class="form-check-input" type="checkbox" name="returnsDistinctResults" value="{$selectedFetchRequestTemplate->returnsDistinctResults}" id="returnsDistinctResults" {$selectedFetchRequestTemplate->returnsDistinctResults ? checked}>
                </div>
            </div>
        </div>
        <input type="hidden" name="X-Http-Method-Override" value="PATCH"> <input class="d-none" type="submit">
    </form>
{/define}