{varType App\Model\Entity $selectedEntity}
{varType App\Model\FetchIndexElement $selectedIndexElement}
{define fetchIndexElement}
    <form action="/FetchIndexElement" method="POST">
        <div class="my-3 fs-4 fw-bold text-secondary text-shadow">
            Fetch Index Element
        </div>
        <input type="hidden" name="objectID" value="{$selectedIndexElement->objectID->referenceObject}">
        <div class="row mb-3 align-items-center">
            <label for="propertyName" class="col-sm-3 col-form-label text-end pe-0">Property</label>
            <div class="col-sm-9">
                <select name="propertyName" id="propertyName" class="form-select" data-autosave="true" required>
                    <option n:foreach="$selectedEntity->attributes as $attribute" value="{$attribute->name}" {$attribute->name === $selectedIndexElement->propertyName ? selected}>{$attribute->name}</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="form-check-label" for="isAscending">Ascending</label>
                    <input class="form-check-input" type="checkbox" name="isAscending" value="{$selectedIndexElement->isAscending}" id="isAscending" {$selectedIndexElement->isAscending ? checked}>
                </div>
            </div>
        </div>
        <input type="hidden" name="X-Http-Method-Override" value="PATCH">
        <input class="d-none" type="submit">
    </form>
{/define}
