{varType App\Model\FetchIndex $selectedIndex}
{define fetchIndex}
    <form action="/FetchIndex" method="POST">
        <div class="my-2 fs-6 fw-bold text-shadow">
            Fetch Index
        </div>
        <input type="hidden" name="objectID" value="{$selectedIndex->objectID->referenceObject}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" placeholder="Fetch Index Name" class="form-control text-truncate" value="{$selectedIndex->name}" autocomplete="off" spellcheck="false" required>
        </div>
        <div class="mt-3 mb-3">
            {var array $items = [2 => "Default", 0 => "Binary", 1 => "R-Tree"]}
            <label for="collationType" class="form-label">Type</label>
            <select name="collationType" id="collationType" class="form-select" data-autosave="true">
                <option n:foreach="$items as $key => $value" value="{$key}" {$key === $selectedIndex->collationType->value ? selected}>{$value}</option>
            </select>
        </div>
        <div class="mb-3 fs-5">
            Partial Index
        </div>
        <div class="mb-3">
            <input type="text" name="partialIndexPredicateFormat" id="partialIndexPredicateFormat" placeholder="Predicate" class="form-control text-truncate" value="{$selectedIndex->partialIndexPredicateFormat}" autocomplete="off"  aria-label="Predicate" spellcheck="false">
        </div>
        <input type="hidden" name="X-Http-Method-Override" value="PATCH">
        <input class="d-none" type="submit">
    </form>
{/define}
