{templateType App\ViewControllers\EditorController}
{define fetchIndexElement}
    <div class="px-3 pb-4">
        <form action="/FetchIndexElement" method="POST">
            <input type="hidden" name="objectID" value="{$selectedIndexElement->objectID->referenceObject}">

            <div class="inspector-header">Fetch Index Element</div>

            <div class="row mb-2">
                <label for="propertyName" class="col-sm-4 inspector-label">Property</label>
                <div class="col-sm-8">
                    <select name="propertyName" id="propertyName" class="form-select form-select-sm" data-autosave="true" required>
                        <option n:foreach="$selectedEntity->attributeNames as $attributeName" value="{$attributeName}" {$attributeName === $selectedIndexElement->propertyName ? selected}>{$attributeName}</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="isAscending" value="{$selectedIndexElement->isAscending|json}" id="isAscending" {$selectedIndexElement->isAscending ? checked}>
                        <label class="form-check-label small text-secondary" for="isAscending">Ascending</label>
                    </div>
                </div>
            </div>

            <div class="inspector-header">Expression Configuration</div>

            <div class="row mb-2">
                <label for="expressionResultType" class="col-sm-4 inspector-label">Result Type</label>
                <div class="col-sm-8">
                    <select name="expressionResultType" id="expressionResultType" class="form-select form-select-sm" data-autosave="true" {$selectedIndexElement->propertyName !== "Expression" ? disabled}>
                        <option n:foreach="$attributeTypes as $attributeType" value="{$attributeType->value}" {$attributeType->value === $selectedIndexElement->expressionResultType?->value ? selected}>
                            {$attributeType->name}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <label for="expressionFormat" class="col-sm-4 inspector-label">Format</label>
                <div class="col-sm-8">
                    <input type="text" name="expressionFormat" id="expressionFormat" placeholder="Expression" class="form-control form-control-sm text-truncate font-monospace" value="{$selectedIndexElement->expressionFormat}" autocomplete="off" spellcheck="false" required {$selectedIndexElement->propertyName !== "Expression" ? disabled} style="font-size: 11px;">
                </div>
            </div>

            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
            <input class="d-none" type="submit">
        </form>
    </div>
{/define}
