{templateType App\Contexts\Editor}
{varType Sabatier\Foundation\Set $fetchedProperties}
{define fetchedProperties, $fetchedProperties}
    <div class="table-responsive">
        <table class="table table-hover table-sm caption-top">
            <caption class="fw-bold text-shadow">Fetched Properties</caption>
            <thead>
            <tr>
                <th scope="col" class="col-sm-2 text-shadow">Name</th>
                <th scope="col" class="col-sm-10 text-shadow">Predicate</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$fetchedProperties as $fetchedProperty" id="property-{$fetchedProperty->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&property={$fetchedProperty->objectID->referenceObject}" n:class="$fetchedProperty->objectID->referenceObject === $selectedProperty?->objectID?->referenceObject ? table-active">
                {var string $img = img($fetchedProperty)}
                <td class="text-truncate">
                    <img class="ps-2" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                    {$fetchedProperty->name}
                </td>
                <td>{$fetchedProperty->fetchRequestPredicateFormat}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <div class="d-inline-block">
                        <button class="btn icon p-0" onclick="add({App\Model\FetchedProperty::entity()->name}, {App\Model\FetchedProperty::entity()->name|firstLower}, {$selectedEntity}, register)">
                            <i class="bi bi-plus"></i>
                        </button>
                        <button class="btn icon p-0" onclick="remove({$selectedProperty}, register)" {!$selectedProperty instanceof App\Model\FetchedProperty ? disabled}>
                            <i class="bi bi-dash"></i>
                        </button>
                    </div>
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
{/define}
