{templateType App\ViewControllers\EditorController}
{varType App\Model\FetchedProperty $selectedProperty}
{define fetchedProperty}
    <div class="px-3 pb-4">
        <form action="/FetchedProperty" method="POST">
            <input type="hidden" name="objectID" value="{$selectedProperty->objectID|json}">
            <div class="inspector-header">Fetch Property</div>
            <div class="row mb-2">
                <label for="name" class="col-sm-4 inspector-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" name="name" id="name" placeholder="Fetch Property Name" class="form-control form-control-sm text-truncate fw-bold" value="{$selectedProperty->name}" autocomplete="off" spellcheck="false" required>
                </div>
            </div>
            <div class="row mb-2">
                <label for="fetchRequestEntityName" class="col-sm-4 inspector-label">Destination</label>
                <div class="col-sm-8">
                    <select name="fetchRequestEntityName" id="fetchRequestEntityName" class="form-select form-select-sm" data-autosave="true">
                        <option value="">No Destination Entity</option>
                        <option disabled>──────────</option>
                        <option n:foreach="$project->model->entities as $entity" value="{$entity->name}" {$entity->name === $selectedProperty->fetchRequestEntityName ? selected}>{$entity->name}</option>
                    </select>
                </div>
            </div>
            <div class="inspector-header">Configuration</div>
            <div class="row mb-2">
                <label for="fetchRequestPredicateFormat" class="col-sm-4 inspector-label">Predicate</label>
                <div class="col-sm-8">
                    <input type="text" name="fetchRequestPredicateFormat" id="fetchRequestPredicateFormat" placeholder="Predicate" class="form-control form-control-sm text-truncate font-monospace" value="{$selectedProperty->fetchRequestPredicateFormat}" autocomplete="off" spellcheck="false" style="font-size: 11px;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{$selectedProperty->fetchRequestPredicateFormat}" required>
                </div>
            </div>
            <div class="row mb-2">
                <label for="fetchRequestSortDescriptorKey" class="col-sm-4 inspector-label">Sort By</label>
                <div class="col-sm-8">
                    <select name="fetchRequestSortDescriptorKey" id="fetchRequestSortDescriptorKey" class="form-select form-select-sm" data-autosave="true" required>
                        <option n:foreach="$selectedProperty->entity->attributesByName as $attribute" value="{$attribute->name}" {$attribute->name === $selectedProperty->fetchRequestSortDescriptorKey ? selected}>{$attribute->name}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="fetchRequestSortDescriptorIsAscending" value="{$selectedProperty->fetchRequestSortDescriptorIsAscending|json}" id="fetchRequestSortDescriptorIsAscending" {$selectedProperty->fetchRequestSortDescriptorIsAscending ? checked}>
                        <label class="form-check-label small text-secondary" for="fetchRequestSortDescriptorIsAscending">Ascending</label>
                    </div>
                </div>
            </div>
            <input type="hidden" name="X-Http-Method-Override" value="PATCH"> <input class="d-none" type="submit">
        </form>
        {include accessControls from "AccessControls.latte"}
        {if $selectedAccessControl}
            {include roles from "Roles.latte"}
        {/if}
    </div>
{/define}
