{templateType App\ViewControllers\EditorController}
{define fetchIndexElements}
    <div class="ide-list-control">
        <!-- Header -->
        <div class="list-control-header">
            <span class="list-control-title">Fetch Index Elements</span>
        </div>

        <!-- Table -->
        <div class="list-control-content">
            <table class="list-control-table">
                <thead>
                <tr>
                    <th class="col-property">Property</th>
                    <th class="col-type">Type</th>
                    <th class="col-expression">Expression</th>
                    <th class="col-ascending">Ascending</th>
                    <th class="col-flex"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$selectedIndex->elements as $element" id="element-{$element->objectID|json}" data-href="/Editor?project={$project->objectID|json}&entity={$selectedEntity->objectID|json}&index={$selectedIndex->objectID|json}&element={$element->objectID|json}" n:class="$element->isEqual($selectedIndexElement) ? active">
                    <!-- Property Column -->
                    <td class="col-property">
                        <form action="/FetchIndexElement" method="POST" class="cell-form">
                            <input type="hidden" name="objectID" value="{$element->objectID|json}">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <select name="propertyName" aria-label="Property" class="form-select transparent" data-autosave="true">
                                <option n:foreach="$selectedEntity->attributeNames as $attributeName"
                                        value="{$attributeName}"
                                        {$attributeName === $element->propertyName ? selected}>
                                    {$attributeName}
                                </option>
                            </select>
                        </form>
                    </td>

                    <!-- Type Column -->
                    <td class="col-type">
                        <form action="/FetchIndexElement" method="POST" class="cell-form">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$element->objectID|json}">
                            <select name="expressionResultType"
                                    aria-label="Expression Result Type"
                                    class="form-select transparent"
                                    data-autosave="true"
                                    {$element->propertyName !== "Expression" ? disabled}>
                                <option n:foreach="$attributeTypes as $attributeType"
                                        value="{$attributeType->value}"
                                        {$attributeType->value === $element?->expressionResultType?->value ? selected}>
                                    {$attributeType->name}
                                </option>
                            </select>
                        </form>
                    </td>

                    <!-- Expression Column -->
                    <td class="col-expression">
                        <div class="cell-content cell-code">
                            <span class="cell-text">{$element->expressionFormat}</span>
                        </div>
                    </td>

                    <!-- Ascending Column -->
                    <td class="col-ascending">
                        <form action="/FetchIndexElement" method="POST" class="cell-form cell-form-checkbox">
                            <input type="hidden" name="objectID" value="{$element->objectID|json}">
                            <input type="hidden" name="propertyName" value="{$element->propertyName}">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input class="form-check-input"
                                    type="checkbox"
                                    name="isAscending"
                                    value="{$element->isAscending|json}"
                                    aria-label="Ascending"
                                    {$element->isAscending ? checked}>
                        </form>
                    </td>

                    <!-- Empty Column -->
                    <td class="col-flex"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Toolbar -->
        <div class="list-control-toolbar">
            {var ?App\Model\Attribute $attribute = $selectedEntity?->attributes?->filter(fn(App\Model\Attribute $attribute): bool => !$attribute->isDerived)?->first(fn(App\Model\Attribute $attribute): bool => !$selectedIndex?->elements?->contains(fn(App\Model\FetchIndexElement $element): bool => $element->property?->name === $attribute->name))}
            <button class="btn btn-icon"
                    title="Add Element"
                    data-editor-action="addFetchIndexElement"
                    data-parent="{$selectedIndex|json}"
                    data-property-name="{$attribute?->name}"
                    {!$attribute instanceof App\Model\Attribute ? disabled}>
                <i class="bi bi-plus-lg"></i>
            </button>
            <button class="btn btn-icon"
                    title="Remove Element"
                    data-editor-action="removeSelection"
                    data-item="{$selectedIndexElement|json}"
                    {!$selectedIndexElement instanceof App\Model\FetchIndexElement ? disabled}>
                <i class="bi bi-dash-lg"></i>
            </button>
        </div>
    </div>
{/define}
