{define fetchRequestTemplatePredicate}
    {varType App\Model\FetchRequestTemplate $selectedFetchRequestTemplate}

    <div class="content-panel">
        <div class="content-panel-header">
            <div class="content-panel-title">
                <span class="material-symbols-outlined">search</span> <span>{$selectedFetchRequestTemplate->name}</span>
            </div>
            <span class="content-panel-badge">TEMPLATE</span>
        </div>

        {include predicateEditor from "PredicateEditor.latte",
            action: "/FetchRequestTemplate",
            objectID: $selectedFetchRequestTemplate->objectID,
            predicate: $selectedFetchRequestTemplate->predicateString,
            required: true,
            accessVars: false}
    </div>
{/define}
