<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    {var array $viteAsset = vite_asset()}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#272b2f">
    <meta name="color-scheme" content="light dark">
    <title>{block title}{/block}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link n:foreach="$viteAsset['css'] as $href" rel="stylesheet" type="text/css" href="{$href}" media="screen">
    {block head}{/block}
</head>
<body>
{block content}{/block}
<script n:if="$viteAsset['client']" type="module" src="{$viteAsset['client']}"></script>
<script n:foreach="$viteAsset['js'] as $src" type="module" src="{$src}" defer></script>
{block scripts}{/block}
</body>
</html>
