<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block title}{/block}</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" type="text/css" href="/Resources/Layout.css" media="screen">
</head>
<body onload="init()">
{block content}{/block}
<div class="modal fade" id="alert" data-bs-backdrop="static" tabindex="-1" aria-labelledby="removeItemLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="alert" class="ignore" method="POST">
                <div class="modal-body">
                    <h5 class="modal-title mb-3" id="removeItemLabel"></h5>
                    <div class="modal-message"></div>
                </div>
                <div class="modal-footer border-0">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous" defer></script>
<!--suppress JSCheckFunctionSignatures -->
<script>
  function url(endpoint, parameters) {
    let url = endpoint
    if (!url.startsWith("/")) {
      url = "/" + url
    }
    if (!!parameters && JSON.stringify(parameters) !== JSON.stringify({})) {
      url += "?" + (() => {
        let array = []
        for (const k in parameters) {
          if (parameters.hasOwnProperty(k)) {
            array.push(encodeURIComponent(k) + "=" + encodeURIComponent(parameters[k]))
          }
        }
        return array.join("&")
      })()
    }
    return url
  }

  async function replace(url) {
    let headers = {}
    headers["X-Requested-With"] = "XmlHttpRequest"
    const response = await fetch(url, {
      method: "GET",
      headers: headers
    })
    if (!response.ok) {
      presentError((await response.json())?.error)
      return
    }
    const data = await response.text()
    const doc = document.implementation.createHTMLDocument()
    doc.open()
    doc.write(data)
    doc.close()
    const e2 = doc.getElementById("content")
    if (!!!e2) {
      return
    }
    const e1 = document.getElementById("content")
    e1.innerHTML = e2.innerHTML
    const body = document.body
    body.removeAttribute("class")
    body.removeAttribute("style")
    const backdrop = document.querySelector(".modal-backdrop")
    if (backdrop) {
      backdrop.remove()
    }
    load()
  }

  async function push(url) {
    await replace(url)
    if (window.location.href !== url.href) {
      window.history.pushState({}, "", url)
    }
  }

  async function submit(form) {
    let headers = {}
    headers["X-Requested-With"] = "XmlHttpRequest"
    headers["Content-Type"] = "application/json; charset=utf-8"
    let elements = Array.from(form.elements)
    const method = elements.find(e => e.name === "X-Http-Method-Override")?.value ?? "POST"
    const filtered = elements.filter(e => !!e.name && e.type !== "submit" && e.name !== "X-Http-Method-Override")
    const body = JSON.stringify(filtered.reduce((result, e) => {
      result[e.name] = (() => {
        let value = e.type === "checkbox" ? e.checked : e.value
        if (value === "true") {
          return true
        } else if (value === "false") {
          return false
        } else if (value === "" || value === "null") {
          return null
        } else if (!isNaN(value) && !isNaN(parseFloat(value))) {
          return parseFloat(value)
        }
        return value
      })()
      return result
    }, {}), null, 4)
    console.log(body)
    const action = form.action
    const response = await fetch(action, {
      method: method,
      headers: headers,
      body: body
    })
    if (!response.ok) {
      presentError((await response.json())?.error)
    }
    let url = new URL(window.location)
    if (method === "DELETE") {
      let keys = []
      const destinationURL = new URL(action)
      switch (destinationURL.pathname.replace("/", "")) {
        case "Entity":
        case "FetchRequestTemplate":
          keys.push("project")
          break
        case "Attribute":
        case "Relationship":
        case "FetchedProperty":
        case "FetchIndex":
        case "UniquenessConstraint":
          keys.push(...["project", "entity"])
          break
        case "FetchIndexElement":
          keys.push(...["project", "entity", "index"])
          break
      }
      url.search = keys.map(k => k + "=" + url.searchParams.get(k)).join("&")
    }
    await push(url)
  }

  /**
   *
   * @param { HTMLElement } sender
   * @param { object } item
   */
  async function remove(sender, item) {
    const action = sender.getAttribute("data-bs-action-name")
    const endpoint = action.split(" ").join("")
    const buttons = [
      {
        title: "Cancel",
        color: "secondary"
      },
      {
        title: "Remove",
        color: "primary",
        type: "submit"
      }
    ]
    presentAlert("Remove " + action.toLowerCase() + " \"" + (item.name ?? item.propertyName ?? item.stringValue) + "\"?", "This action cannot be undone.", url(endpoint, {
      objectID: item.objectID
    }), "DELETE", buttons)
  }

  /**
   * @param { string } messageText
   * @param { string } informativeText
   * @param { string } formAction
   * @param { string } httpMethod
   * @param { object[] } buttons
   */
  function presentAlert(messageText = "Aviso", informativeText = "", formAction = "", httpMethod = "", buttons = []) {
    if (!!!buttons.length) {
      buttons = [
        {
          title: "OK",
          color: "primary"
        }
      ]
    }
    const element = document.getElementById("alert")
    const title = element.querySelector(".modal-title")
    title.textContent = messageText
    const message = element.querySelector(".modal-message")
    message.textContent = informativeText
    const form = element.querySelector(".modal-content form")
    if (formAction) {
      form.action = formAction
    }
    const footer = form.querySelector(".modal-footer")
    footer.replaceChildren(...buttons.map(e => {
      const button = document.createElement("button")
      button.type = e.type ?? "button"
      button.className = "btn btn-outline-" + e.color + " border-0 bg-transparent text-" + e.color
      button.textContent = e.title
      button.setAttribute("min-width", "82px")
      button.setAttribute("data-bs-dismiss", "modal")
      return button
    }))
    if (httpMethod) {
      const input = document.createElement("input")
      input.type = "hidden"
      input.name = "X-Http-Method-Override"
      input.value = httpMethod
      footer.insertBefore(input, footer.firstChild)
    }
    const modal = new bootstrap.Modal(element, {})
    modal.show(undefined)
  }

  /**
   * @param { object } error
   */
  function presentError(error) {
    error ??= error = {
      localizedDescription: "An unexpected error has occurred",
      localizedFailureReason: undefined,
      localizedRecoverySuggestion: undefined
    }
    const messageText = error.localizedDescription ?? error.name ?? "An unexpected error has occurred"
    let informativeText = error.localizedFailureReason ?? error.localizedRecoverySuggestion ?? error.message ?? ""
    if (informativeText && error.localizedRecoverySuggestion && informativeText !== error.localizedRecoverySuggestion) {
      informativeText = "\n" + error.localizedRecoverySuggestion
    }
    presentAlert(messageText, informativeText)
  }

  function showPreferences() {
    window.open("/Preferences", "_blank", "popup=true, noopener, noreferrer, width=600, height=400")
  }
</script>
<!--suppress JSCheckFunctionSignatures -->
<script>
  function layout() {
    document.querySelectorAll(`[class*="overflow-auto"]`).forEach(e => e.style.height = document.documentElement.clientHeight - (64 + 40 + 2 + 40) + "px")
  }

  function load() {
    layout()
    const once = window.location.href.includes("Editor")
    document.querySelectorAll("span[data-href]").forEach(e => {
      e.addEventListener("click", async () => {
        await push(new URL(window.location.origin + e.dataset.href))
        const span = document.getElementById(e.id)
        if (span instanceof Element) {
          span.scrollIntoView({
            behavior: "instant",
            block: "end",
            inline: "nearest"
          })
        }
      }, {
        once: once
      })
    })
    document.querySelectorAll("tr[data-href]").forEach(e => {
      e.addEventListener("click", async () => {
        await push(new URL(window.location.origin + e.dataset.href))
        const tr = document.getElementById(e.id)
        if (tr instanceof Element) {
          tr.scrollIntoView({
            behavior: "instant",
            block: "end",
            inline: "nearest"
          })
        }
      }, {
        once: once
      })
    })
    document.querySelectorAll("input[type=checkbox]").forEach(e => {
      e.addEventListener("click", async () => {
        await submit(e.form)
      }, {
        once: once
      })
    })
    document.querySelectorAll("select[data-autosave=true]").forEach(e => {
      e.addEventListener("change", async () => {
        await submit(e.form)
      }, {
        once: once
      })
    })
    document.querySelectorAll("form:not(.ignore)").forEach(e => {
      e.addEventListener("submit", async (event) => {
        event.preventDefault()
        await submit(e)
      }, {
        once: once
      })
    })
    const addItem = document.getElementById("addItem")
    addItem?.addEventListener("show.bs.modal", (event) => {
      const button = event.relatedTarget
      const action = button.getAttribute("data-bs-action-name")
      const endpoint = action.split(" ").join("")
      const e = addItem.querySelector(".modal-title")
      e.textContent = "Add " + action
      const form = addItem.querySelector(".modal-content form")
      form.action = url(endpoint)
    })
  }

  function init() {
    window.addEventListener("resize", layout)
    const alert = document.getElementById("alert")
    const form = alert.querySelector(".modal-content form")
    form.addEventListener("submit", async (event) => {
      event.preventDefault()
      await submit(form)
    })
    load()
  }
</script>
</body>
</html>
