{define mappingNoSelection}
<div class="ins-no-sel-wrap">
    <div class="ins-hint">
        <span class="material-symbols-outlined ins-hint-icon">near_me</span>
        <p class="ins-hint-text">Select a mapping model<br>to inspect it</p>
    </div>
</div>
{/define}
