{templateType App\ViewControllers\MappingController}
{define breadcrumbItems}
    <li n:foreach="$breadcrumb as $item" class="breadcrumb-item-wrapper">
        {if $item instanceof App\Model\Project}
            {varType App\Model\Project $item}
            <div data-href="/Editor?project={$item->objectID|json}" class="breadcrumb-link">
                {var string $img = img($item)}
                <img n:if="$img" class="breadcrumb-icon" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                <span>{$item->name}</span>
            </div>
        {elseif $item instanceof App\Model\Model}
            {varType App\Model\Model $item}
            <div data-href="/Mapping?project={$project->objectID|json}" class="breadcrumb-link">
                {var string $img = img($item)}
                <img n:if="$img" class="breadcrumb-icon" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                <span>{$item->name}</span>
            </div>
        {elseif $item instanceof App\Model\ModelMap}
            {varType App\Model\ModelMap $item}
            <div data-href="/Mapping?project={$project->objectID|json}&modelMap={$item->objectID|json}" class="breadcrumb-link">
                <span class="material-symbols-outlined breadcrumb-icon">swap_horiz</span>
                <span>{$item->name}</span>
            </div>
        {elseif $item instanceof App\Model\EntityMap}
            {varType App\Model\EntityMap $item}
            <div data-href="/Mapping?project={$project->objectID|json}&modelMap={$selectedModelMap?->objectID|json}&entityMap={$item->objectID|json}" class="breadcrumb-link">
                <span class="material-symbols-outlined breadcrumb-icon">table</span>
                <span>{$item->mappingName}</span>
            </div>
        {elseif $item instanceof App\Model\PropertyMap}
            {varType App\Model\PropertyMap $item}
            <div class="breadcrumb-link">
                <span class="material-symbols-outlined breadcrumb-icon">{$item->relationshipEntityMap !== null ? "compare_arrows" : "label"}</span>
                <span>{$item->name}</span>
            </div>
        {/if}
    </li>
{/define}
