{varType Sabatier\Foundation\ArrayClass $rootEntities}
{varType Sabatier\Foundation\ArrayClass $fetchRequestTemplates}
{define model}
    <div class="d-block text-secondary text-uppercase fs-6 fw-bold ps-2 text-shadow">Entities</div>
    <div>{include entities from "Entities.latte", $rootEntities}</div>
    <div class="d-block text-secondary text-uppercase fs-6 fw-bold ps-2 text-shadow">Fetch Request</div>
    <div>{include fetchRequestTemplates from "FetchRequestTemplates.latte", $fetchRequestTemplates}</div>
    <div class="d-block text-secondary text-uppercase fs-6 fw-bold ps-2 text-shadow">Configurations</div>
    <div></div>
{/define}
