{layout "Layout.latte"}
{templateType App\ViewControllers\Preferences}
{block title}{$title}{/block}
{block content}
    <div id="main" class="user-select-none">
        <nav class="navbar sticky-top bg-dark border-bottom border-black p-0" style="height: 40px; -webkit-app-region: drag">
            <div class="container-fluid justify-content-start">
                <div class="navbar-brand">
                    <img src="/Resources/Images/icon16@1x.png" srcset="/Resources/Images/icon16@2x.png 2x, /Resources/Images/icon16@3x.png 3x" alt="{$title}" class="d-inline-block">
                    <span class="fs-6">{$title}</span>
                </div>
            </div>
        </nav>
        <div class="container-fluid d-flex flex-column user-select-none">
            <div class="card border-0 h-100">
                <div class="card-body">
                    <div class="spinner-border spinner-border-sm text-primary float-end" role="status" hidden>
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <form action="/Synchronize" method="POST">
                        <div class="mb-3">
                            <label for="CompanyName" class="col-form-label col-form-label-sm">Company Name</label>
                            <input type="text" name="CompanyName" id="CompanyName" placeholder="Company Name" class="form-control form-control-sm" value="{$companyName}" autocomplete="off" required>
                        </div>
                        <div class="form-check form-control-sm">
                            <label class="form-check-label" for="AutomaticallySaveModel">Automatically save model</label>
                            <input class="form-check-input" type="checkbox" name="AutomaticallySaveModel" id="AutomaticallySaveModel" value="{$automaticallySaveModel}" {$automaticallySaveModel ? checked}>
                        </div>
                        <div class="form-check form-control-sm">
                            <label class="form-check-label" for="AutomaticallyDeleteProjectFolders">Deleting a project also deletes its folder</label>
                            <input class="form-check-input" type="checkbox" name="AutomaticallyDeleteProjectFolders" id="AutomaticallyDeleteProjectFolders" value="{$automaticallyDeleteProjectFolders}" {$automaticallyDeleteProjectFolders ? checked}>
                        </div>
                        <input class="d-none" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{/block}
