{templateType App\ViewControllers\EditorController}
{define relationships}
    <div n:if="$selectedEntity" class="ide-list-control">
        <div class="list-control-header">
            <span class="list-control-title">Relationships</span>
        </div>
        <div class="list-control-content">
            <table class="list-control-table" data-project="{$project->objectID|json}" data-entity="{$selectedEntity->name}" data-key="relationships">
                <thead>
                <tr>
                    <th class="col-name">Name</th>
                    <th class="col-destination">Destination</th>
                    <th class="col-inverse">Inverse</th>
                    <th class="col-flex"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$selectedEntity->relationships as $relationship" id="property-{$relationship->objectID|json}" data-href="/Editor?project={$project->objectID|json}&entity={$selectedEntity->objectID|json}&property={$relationship->objectID|json}"  n:class="$relationship->isEqual($selectedProperty) ? active">
                    <td class="col-name">
                        <div class="cell-content">
                            {var string $img = img($relationship)}
                            <img class="cell-icon" src="/Resources/Images/{$img}@1x.png" srcset="/Resources/Images/{$img}@2x.png 2x, /Resources/Images/{$img}@3x.png 3x" alt="">
                            <span class="cell-text">{$relationship->name}</span>
                        </div>
                    </td>
                    <td class="col-destination">
                        <form action="/Relationship" method="POST" class="cell-form">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$relationship->objectID|json}">
                            <select name="lazyDestinationEntityName" aria-label="Destination" class="form-select transparent" data-autosave="true">
                                <option value="">No Value</option>
                                <option n:foreach="$project->model->entities as $entity" value="{$entity->name}" {$entity->name === $relationship->lazyDestinationEntityName ? selected}>
                                    {$entity->name}
                                </option>
                            </select>
                        </form>
                    </td>
                    <td class="col-inverse">
                        <form action="/Relationship" method="POST" class="cell-form">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$relationship->objectID|json}">
                            <select name="lazyInverseRelationshipName" aria-label="Inverse" class="form-select transparent" data-autosave="true">
                                <option value="">No Inverse</option>
                                {var App\Model\Entity $destinationEntity = $relationship->destinationEntity}
                                    {if $destinationEntity}
                                    <option n:foreach="$destinationEntity->relationships->filter(fn(App\Model\Relationship $e): bool => !$e->isEqual($relationship)) as $e" value="{$e->name}" {$e->name === $relationship->lazyInverseRelationshipName ? selected}>
                                        {$e->name}
                                    </option>
                                {/if}
                            </select>
                        </form>
                    </td>
                    <td class="col-flex">
                        <span n:if="$relationship->destinationEntity && !$relationship->inverseRelationship" class="cell-warning-icon material-symbols-outlined ms-filled" title="This relationship has no inverse">warning</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="list-control-toolbar">
            <button class="btn btn-icon"
                    title="Add Relationship"
                    data-editor-action="addRelationship"
                    data-parent="{$selectedEntity|json}"
                    data-position="{$selectedEntity->relationships->count}">
                <span class="material-symbols-outlined">add</span>
            </button>
            <button class="btn btn-icon"
                    title="Remove Relationship"
                    data-editor-action="removeSelection"
                    data-item="{$selectedProperty|json}" {!$selectedProperty instanceof App\Model\Relationship ? disabled}>
                <span class="material-symbols-outlined">remove</span>
            </button>
        </div>
    </div>
{/define}
