{templateType App\ViewControllers\MappingController}
{define relationshipMaps}
    <div n:if="$selectedEntityMap" class="ide-list-control">
        <div class="list-control-header">
            <span class="list-control-title">Relationship Maps</span>
        </div>
        <div class="list-control-content">
            <table class="list-control-table" data-project="{$project->objectID|json}" data-entity-map="{$selectedEntityMap->objectID|json}" data-key="relationships">
                <thead>
                <tr>
                    <th class="col-map-property">Property</th>
                    <th class="col-map-expression">Value Expression</th>
                    <th class="col-risk"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$selectedEntityMap->orderedRelationships as $propertyMap" id="propertyMap-{$propertyMap->objectID|json}" data-href="/Mapping?project={$project->objectID|json}&modelMap={$selectedModelMap?->objectID|json}&entityMap={$selectedEntityMap->objectID|json}&propertyMap={$propertyMap->objectID|json}" n:class="$propertyMap->isEqual($selectedPropertyMap) ? active">
                    <td class="col-map-property">
                        <form action="/PropertyMap" method="POST" class="cell-form">
                            <input type="hidden" name="X-Http-Method-Override" value="PATCH">
                            <input type="hidden" name="objectID" value="{$propertyMap->objectID|json}">
                            <select name="name" aria-label="Property" class="form-select transparent" data-autosave="true">
                                <option value="">No Property</option>
                                <option disabled>──────────</option>
                                {var App\Model\Entity $destinationEntity = $selectedEntityMap->destinationEntity}
                                {if $destinationEntity}
                                    <option n:foreach="$destinationEntity->inheritedRelationships as $relationship" value="{$relationship->name}" {$relationship->name === $propertyMap->name ? selected}>{$relationship->name}</option>
                                {/if}
                            </select>
                        </form>
                    </td>
                    <td class="col-map-expression">
                        <div class="cell-content">
                            {if $propertyMap->valueExpressionFormat}
                                <span class="cell-code"><span class="cell-text">{$propertyMap->valueExpressionFormat}</span></span>
                            {else}
                                <span class="cell-text cell-absent-value">Not related</span>
                            {/if}
                        </div>
                    </td>
                    <td class="col-risk"></td>
                </tr>
                <tr n:if="$selectedEntityMap->orderedRelationships->isEmpty">
                    <td colspan="3" class="list-control-empty">No relationship maps</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="list-control-toolbar">
            <button class="btn btn-icon" type="button" title="Add Relationship Map" data-mapping-action="addRelationshipMap" data-parent="{$selectedEntityMap|json}" data-position="{$selectedEntityMap->orderedRelationships->count}">
                <span class="material-symbols-outlined">add</span>
            </button>
            <button class="btn btn-icon" type="button" title="Remove Relationship Map" data-mapping-action="removeSelection" data-item="{$selectedPropertyMap|json}" {!$selectedPropertyMap instanceof App\Model\PropertyMap || $selectedPropertyMap->attributeEntityMap !== null ? disabled}>
                <span class="material-symbols-outlined">remove</span>
            </button>
        </div>
    </div>
{/define}
