{templateType App\ViewControllers\EditorController}
{define sourceList}
    <div class="source-section-header">Entities</div>
    <div class="source-section-content">
        {include entities from "Entities.latte"}
    </div>
    <div class="source-section-header">Composite Types</div>
    <div class="source-section-content">
        {include compositeTypes from "CompositeTypes.latte"}
    </div>
    <div class="source-section-header">Fetch Request</div>
    <div class="source-section-content">
        {include fetchRequestTemplates from "FetchRequestTemplates.latte"}
    </div>
    <div class="source-section-header">Configurations</div>
    <div class="source-section-content">
        {include configurations from "Configurations.latte"}
    </div>
{/define}
