{templateType App\Contexts\Editor}
{define sourceList}
    <div>
        <div class="d-block text-secondary text-uppercase fs-6 fw-bold ps-2 text-shadow">Entities</div>
        <div>{include entities from "Entities.latte"}</div>
        <div class="d-block text-secondary text-uppercase fs-6 fw-bold ps-2 text-shadow">Fetch Request</div>
        <div>{include fetchRequestTemplates from "FetchRequestTemplates.latte"}</div>
        <div class="d-block text-secondary text-uppercase fs-6 fw-bold ps-2 text-shadow">Configurations</div>
        <div></div>
    </div>
{/define}
