{layout "Layout.latte"}
{templateType App\ViewControllers\Viewer}
{block title}{$title}{/block}
{block content}
    <div>
        <div class="container-fluid">
            <db-viewer></db-viewer>
        </div>
    </div>
    <script>
        const viewer = document.querySelector("db-viewer")
        viewer.addEventListener("ready", () => viewer.schema = {$schema})
        viewer.addEventListener("tableMoveEnd", async event => {
            await send(url("Moved"), {
                ...event.detail,
                project: {$project->objectID}
            }, "POST", register)
        })
    </script>
{/block}
