{layout "Layout.latte"}
{templateType App\ViewControllers\ViewerController}
{block title}{$title}{/block}
{block content}
    <div>
        <div class="container-fluid">
            <db-viewer></db-viewer>
        </div>
    </div>
    <!--suppress JSUnresolvedReference -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const loaded = () => {
                const viewer = document.querySelector("db-viewer")
                viewer.addEventListener("ready", event => {
                    event.target.viewer.setZoom(0.25)
                    viewer.schema = {$project->model?->schema ?? []}
                }, {
                    once: true
                })
                viewer.addEventListener("tableMoveEnd", event => {
                    send(url("Moved"), {
                        ...event.detail,
                        project: {$project->objectID}
                    }, "POST", loaded)
                }, {
                    once: true
                })
            }
            loaded()
        }, {
            once: true
        })
    </script>
{/block}
