{varType App\Model\FetchedProperty $selectedProperty}
{varType Sabatier\Foundation\ArrayClass $allEntities}
{define fetchedProperty}
    <form action="/FetchedProperty?objectID={$selectedProperty->objectID->referenceObject}" method="POST">
        <div class="mb-3 fs-5">
            Fetch Property
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" placeholder="Fetch Property Name" class="form-control text-truncate" value="{$selectedProperty->name}" autocomplete="off" required>
        </div>
        <div class="mt-3 mb-3">
            <label for="fetchRequestEntityName" class="form-label">Destination</label>
            <select name="fetchRequestEntityName" id="fetchRequestEntityName" class="form-select" autosave>
                <option value="">No Destination Entity</option>
                <option n:foreach="$allEntities as $entity" value="{$entity->name}" {$entity->name === $selectedProperty->fetchRequestEntityName ? selected}>
                    {$entity->name}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="fetchRequestPredicateFormat" class="form-label">Predicate</label>
            <input type="text" name="fetchRequestPredicateFormat" id="fetchRequestPredicateFormat" placeholder="Predicate" class="form-control text-truncate" value="{$selectedProperty->fetchRequestPredicateFormat}" autocomplete="off" required>
        </div>
        <input type="hidden" name="X-Http-Method-Override" value="PATCH">
        <input class="d-none" type="submit">
    </form>
{/define}
