html,
body {
    height: 100%;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}

.alert {
}

.table {
    --bs-table-active-bg: rgba(0, 0, 0, 0.11);
    --bs-table-active-color: var(--bs-table-active-bg);
    --bs-table-hover-color: white;
    --bs-table-hover-bg: var(--bs-table-active-color);
}

.table-active {
    --bs-table-color-state: white;
    --bs-table-bg-state: var(--bs-table-active-bg);
}

.table-sm > :not(caption) > * > * {
    font-size: .875rem;
}

.btn-back {
    display: flex;
    align-items: center
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0;
    font-weight: 600;
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(255, 255, 255, 0.16);
}

.btn-toggle::before {
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.nav-toggle {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
}

.nav-toggle.active {
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
}

.selected {
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 6px;
}

.space {
    display: inline-block;
    width: 24px;
    padding: 0 8px;
}

.text-non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
}

.text-centered {
    text-align: center;
    align-self: center;
    font-size: 17px;
}

.text-wrap-word {
    word-break: break-word;
}

.cursor-pointer {
    cursor: pointer;
}

.space {
    display: inline-block;
    width: 24px;
    padding: 0 8px;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24
}

