:root {
    --nav-item-active-bg: rgb(13, 110, 253);
    --nav-item-hover-bg: rgba(13, 110, 253, 0.33);
}

html, body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}

button {
    -webkit-app-region: no-drag;
}

.scroll-view {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-view::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.table {
    --bs-table-active-bg: rgba(13, 110, 253, 0.16);
    --bs-table-active-color: var(--bs-table-active-bg);
    --bs-table-hover-color: white;
    --bs-table-hover-bg: var(--nav-item-hover-bg);
}

.table-active {
    --bs-table-color-state: white;
    --bs-table-bg-state: var(--bs-table-active-bg);
}

.table-sm > :not(caption) > * > * {
    font-size: .875rem;
}

.form-select.transparent {
    background-color: transparent;
}

option:not(:checked) {
    background-color: var(--bs-body-bg);
}

.list-group {
    --bs-list-group-action-hover-bg: var(--bs-primary);
}

.list-group-item {
    background-color: inherit;
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.btn-toggle {
    display: inline-flex;
    padding: 0;
    font-weight: 600;
    background-color: transparent;
    border: 0;
}

.btn-toggle::before {
    line-height: 0;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23e8eaed'%3E%3Cpath d='M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z'/%3E%3C/svg%3E");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    width: 16px;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn.icon {
    border: 0 !important;
    background-color: transparent !important;
}

.nav-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    height: 26px;
    padding: 4px 8px;
    border-radius: 6px;
    transition: background .2s;
    white-space: nowrap;
}

.nav-item.active {
    font-weight: 600;
    background-color: rgba(13, 110, 253, 0.2);
}

.nav-item:hover {
    background-color: rgba(13, 110, 253, 0.15);
}

.space {
    display: inline-block;
    width: 24px;
    padding: 0 8px;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.33);
}

.text-wrap-word {
    word-break: break-word;
}

.cursor-pointer {
    cursor: pointer;
}

db-viewer {
    width: 100vw;
    height: 100vh;
    --viewer-background-color: var(--bs-body-bg);
    --relation-color: white;
    --relation-color-highlight: var(--nav-item-active-bg);
}
