{varType Sabatier\Foundation\ArrayClass $rootEntities}
{define model}
    <div class="d-block text-secondary text-uppercase fs-6 fw-bold">Entities</div>
    <div>
        {include entities from 'Entities.latte', $rootEntities}
    </div>
{/define}
