{varType App\Model\Project $project}
{varType App\Model\Entity $selectedEntity}
{varType App\Model\Property $selectedProperty}
{varType Sabatier\Foundation\Set $properties}
{varType string $title}
{varType string $label}
{define properties, $properties, $title, $label, $propertyType}
    <table class="table table-hover table-sm caption-top">
        <caption>{$title}</caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody n:if="$properties">
        <tr n:foreach="$properties as $property" id="property-{$property->objectID->referenceObject}" data-href="/Editor?project={$project?->objectID?->referenceObject}&entity={$selectedEntity->objectID->referenceObject}&property={$property->objectID->referenceObject}" n:class="$property->objectID->referenceObject === $selectedProperty?->objectID?->referenceObject ? table-active">
            <td>{$property->name}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <div class="container-fluid">
                    <div class="d-inline-block">
                    <button class="btn border-0 bg-transparent p-2" data-bs-toggle="modal" data-bs-target="#addModal" data-bs-action-name="{$label}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                    </button>
                    <button class="btn border-0 bg-transparent p-2" data-bs-action-name="{$propertyType}" onclick="remove(this, {$selectedProperty})" {!$selectedProperty instanceof App\Model\Property || $selectedProperty::className() !== $propertyType ? disabled}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                        </svg>
                    </button>
                    </div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
{/define}
